body{
	display: flex;
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: #7464AD;
}

.green{
	display: block;
	height: 100%;
	width: calc(100%/3);
	background-color: #4CAF50;
}

.pink{
	display: flex;
	height: 100%;
	margin-bottom:0;
	width: calc(100%/3*2);
	background-color:#C71585;
}

.blue{
	display: block;
	height: 50%;
	width: 100%;
	background-color:008B;
	}
	

	
.lime{
	display: flex ;
	height: 100%;
	width: 25%;
	background-color:#F0E68C;
	}
	
.red{
	display: block;
	height: 25%;
	width: 25%;
	background-color:#B22222;
	}
	.restrict-img-size{
	max-height: 100%;
	max-width:100%;
	}
button{
	height: 50%;
	width:50%;
	font-family:"Arial", Helvetica, sans-serif;
}
	
/*https://css-tricks.com/
	http://overapi.com/css
	https://css-tricks.com/almanac/properties/d/display/ */